
ion-content{
    --background:rgb(255, 255, 255);
}
app-nav-bar {
    
    border-radius: 10px; 
    margin: 20px;
    }

p {
      font-size: 18px;
      color: #e74c3c; 
      padding: 20px;
      text-align: center;
      border: 2px solid #c0392b; 
      border-radius: 10px; 
      margin: 20px;
}
